@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap");

body {
  background: rgba(8, 8, 10, 1);
  background-image: url("../assets/Noise\ &\ Texture.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 32px;
}

.logo {
  font-size: 32px;
  color: #ffffff;
}

.logo:hover {
  color: var(--btn-color-hover, #5fc6f6);
  text-decoration: none;
}

.mainDiv {
  max-width: 500px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-top: 50px;
  padding: 24px;
}

.LoginHeader {
  font-size: 32px;
  font-weight: 600;
  color: #101828;
}

.input-height {
  height: 30%;
  justify-items: center;
}

.formText {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: #344054 !important;
}

input::placeholder {
  color: #344054;
  font-size: 14px !important;
  font-weight: 400 !important;
}

.sopportingText {
  font-size: 14px !important;
  font-weight: 400 !important;
  /* color: #344054 !important; */
}

.primaryBtn {
  background-color: #0ba5ec;
  border-radius: 8px;
  border: none;
  color: #ffffff !important;
  font-weight: 700 !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  font-size: 16px;
}

.onboardOption {
  text-align: center;
  text-decoration: none;
}
.option {
  font-size: 14px;
  font-weight: 400;
}

.reg,
.reg:hover {
  font-size: 14px;
  font-weight: 700;
  color: #0ba5ec;
}

.reg:hover {
  color: var(--btn-color-hover, #5fc6f6);
  text-decoration: none;
}
